@font-face {
  font-family: 'Factor A';
  src:
    url('FactorA-Regular.woff2') format('woff2'),
    url('FactorA-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src:
    url('FactorA-Medium.woff2') format('woff2'),
    url('FactorA-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src:
    url('FactorA-Bold.woff2') format('woff2'),
    url('FactorA-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src:
    url('FactorA-Extrabold.woff2') format('woff2'),
    url('FactorA-Extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
